# BD de Ligas Europeas

In [1]:
import pandas as pd
import numpy as np

In [2]:
League1=pd.read_csv('./B1.csv')

In [3]:
League1['Nationality'] = 'Belgium'

In [4]:
League2=pd.read_csv('./D1.csv')

In [5]:
League2['Nationality'] = 'Germany'

In [6]:
League3=pd.read_csv('./D2.csv')

In [7]:
League3['Nationality'] = 'Germany'

In [8]:
League4=pd.read_csv('./E0.csv')

In [9]:
League4['Nationality'] = 'England'

In [10]:
League5=pd.read_csv('./E2.csv')

In [11]:
League5['Nationality'] = 'England'

In [12]:
League6=pd.read_csv('./E3.csv')

In [13]:
League6['Nationality'] = 'England'

In [14]:
League7=pd.read_csv('./F1.csv')

In [15]:
League7['Nationality'] = 'France'

In [16]:
League8=pd.read_csv('./F2.csv')

In [17]:
League8['Nationality'] = 'France'

In [18]:
League9=pd.read_csv('./G1.csv')

In [19]:
League9['Nationality'] = 'Greece'

In [20]:
League10=pd.read_csv('./I1.csv')

In [21]:
League10['Nationality'] = 'Italy'

In [22]:
League11=pd.read_csv('./I2.csv')

In [23]:
League11['Nationality'] = 'Italy'

In [24]:
League12=pd.read_csv('./N1.csv')

In [25]:
League12['Nationality'] = 'Netherlands'

In [26]:
League13=pd.read_csv('./P1.csv')

In [27]:
League13['Nationality'] = 'Portugal'

In [28]:
League14=pd.read_csv('./SC0.csv')

In [29]:
League14['Nationality'] = 'Scotland'

In [30]:
League15=pd.read_csv('./SP1.csv')

In [31]:
League15['Nationality'] = 'Spain'

In [32]:
League16=pd.read_csv('./SP2.csv')

In [33]:
League16['Nationality'] = 'Spain'

In [34]:
League17=pd.read_csv('./T1.csv')

In [35]:
League17['Nationality'] = 'Turkey'

In [36]:
columns = ['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA']

In [37]:
for i in columns:
    League1.drop(i, axis = 1, inplace=True)
    League2.drop(i, axis = 1, inplace=True)
    League3.drop(i, axis = 1, inplace=True)
    League7.drop(i, axis = 1, inplace=True)
    League8.drop(i, axis = 1, inplace=True)
    League9.drop(i, axis = 1, inplace=True)
    League10.drop(i, axis = 1, inplace=True)
    League11.drop(i, axis = 1, inplace=True)
    League12.drop(i, axis = 1, inplace=True)
    League13.drop(i, axis = 1, inplace=True)
    League15.drop(i, axis = 1, inplace=True)
    League16.drop(i, axis = 1, inplace=True)
    League17.drop(i, axis = 1, inplace=True)

In [38]:
columns1 = ['B365H', 'B365D', 'B365A', 'BWH', 'BWD','Referee', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA']

In [39]:
for i in columns1:
    League4.drop(i, axis = 1, inplace=True)
    League5.drop(i, axis = 1, inplace=True)
    League6.drop(i, axis = 1, inplace=True)
    League14.drop(i, axis = 1, inplace=True)

In [40]:
League1 = League1.rename(columns={'HFKC': 'HF'})
League1 = League1.rename(columns={'AFKC': 'AF'})

In [41]:
#League = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [42]:
#for i in League:
 #   League[i] = League[i] [['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
  #     'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC','HY', 'AY', 'HR', 'AR']]

In [43]:
League1 = League1[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
                  'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
                'HY', 'AY', 'HR', 'AR']]

In [44]:
League2 = League2[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [45]:
League3 = League3[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [46]:
League4 = League4[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [47]:
League5 = League5[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [48]:
League6 = League6[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [49]:
League7 = League7[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [50]:
League8 = League8[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
      'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [51]:
League9 = League9[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HFKC', 'AFKC', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [52]:
League10 = League10[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [53]:
League11 = League11[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [54]:
League12 = League12[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [55]:
League13 = League13[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [56]:
League14 = League14[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
     'HY', 'AY', 'HR', 'AR']]

In [57]:
League15 = League15[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [58]:
League16 = League16[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
      'HY', 'AY', 'HR', 'AR']]

In [59]:
League17 = League17[['Nationality','Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']]

In [63]:
result = League1.append([League2, League3, League4, League5, League6, League7, League8,
                        League9, League10, League11, League12, League13, League14, League15,
                        League16, League17], sort=False)
result.head()

,Nationality,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HF,AF,HC,AC,HY,AY,HR,AR,HFKC,AFKC
0,Belgium,B1,27/07/2018,Standard,Gent,3.0,2.0,H,1.0,1.0,...,22.0,18.0,2.0,5.0,2.0,3.0,0.0,0.0,NaN,NaN
1,Belgium,B1,28/07/2018,Kortrijk,Anderlecht,1.0,4.0,A,0.0,2.0,...,22.0,19.0,6.0,2.0,2.0,1.0,0.0,0.0,NaN,NaN
2,Belgium,B1,28/07/2018,Oostende,Mouscron,2.0,1.0,H,0.0,1.0,...,22.0,21.0,4.0,0.0,4.0,5.0,0.0,2.0,NaN,NaN
3,Belgium,B1,28/07/2018,St Truiden,Cercle Brugge,0.0,0.0,D,0.0,0.0,...,23.0,16.0,2.0,5.0,2.0,3.0,0.0,0.0,NaN,NaN
4,Belgium,B1,28/07/2018,Waregem,Waasland-Beveren,2.0,2.0,D,1.0,0.0,...,19.0,18.0,5.0,4.0,3.0,2.0,0.0,0.0,NaN,NaN

Notes for Football Data

All data is in csv format, ready for use within standard spreadsheet applications. Please note that some abbreviations are no longer in use (in particular odds from specific bookmakers no longer used) and refer to data collected in earlier seasons. For a current list of what bookmakers are included in the dataset please visit http://www.football-data.co.uk/matches.php

Key to results data:

Div = League Division
Date = Match Date (dd/mm/yy)
HomeTeam = Home Team
AwayTeam = Away Team
FTHG = Full Time Home Team Goals
FTAG = Full Time Away Team Goals
FTR = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HC = Home Team Corners
AC = Away Team Corners
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards

Note that Free Kicks Conceeded includes fouls, offsides and any other offense commmitted and will always be equal to or higher than the number of fouls. Fouls make up the vast majority of Free Kicks Conceded. Free Kicks Conceded are shown when specific data on Fouls are not available (France 2nd, Belgium 1st and Greece 1st divisions). Note also that English and Scottish yellow cards do not include the initial yellow card when a second is shown to a player converting it into a red, but this is included as a yellow (plus red) for European games.

Current results (full time, half time)
Xcores - http://www.xcores .com

Match statistics
BBC, ESPN Soccer, Bundesliga.de, Gazzetta.it and Football.fr

Additional match statistics (corners, shots, bookings, referee etc.) for the 2000/01 and 2001/02 seasons for the English, Scottish and German leagues were provided by Sports.com (now under new ownership and no longer available).