In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

In [2]:
club = pd.read_csv('recommend.csv')
club = club.drop(columns=['ID', 'Work Rate', 'Position','Preferred Foot', 'Nationality', 'Joined',
                         'Contract_Expiry','Work RAttack','Work RDefence', 'Name'])
club = club.set_index('Club')

In [4]:
club.head()

,Age,Height(cm),Weight(kgs),Weak Foot,Inter_Rep,Jersey,Overall,Potential,Value(€M),Wage(€K),...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Club,,,,,,,,,,,,,,,,,,,,,
FC Barcelona,31,173.727522,72.137028,4.0,5.0,10.0,94,94,110500000.0,565000.0,...,64,61,61,61,64,59,47,47,47,59
Juventus,33,188.966778,83.025636,4.0,5.0,7.0,94,94,77000000.0,405000.0,...,65,61,61,61,65,61,53,53,53,61
Paris Saint-Germain,26,179.823225,68.053800,5.0,5.0,10.0,92,93,118500000.0,290000.0,...,65,60,60,60,65,60,47,47,47,60
Manchester United,27,195.062481,76.220256,3.0,4.0,1.0,91,93,72000000.0,260000.0,...,50,50,50,50,50,50,50,50,50,50
Manchester City,27,155.745200,69.868568,5.0,4.0,7.0,91,92,102000000.0,355000.0,...,77,77,77,77,77,73,66,66,66,73

In [6]:
club.index

Index(['FC Barcelona', 'Juventus', 'Paris Saint-Germain', 'Manchester United',
       'Manchester City', 'Chelsea', 'Real Madrid', 'FC Barcelona',
       'Real Madrid', 'Atlético Madrid',
       ...
       'Cork City', 'Burton Albion', 'Vancouver Whitecaps FC', 'Swindon Town',
       'Waterford FC', 'Crewe Alexandra', 'Trelleborgs FF', 'Cambridge United',
       'Tranmere Rovers', 'Tranmere Rovers'],
      dtype='object', name='Club', length=18207)

In [7]:
def ratings_scatter(c1, c2):
    x = club.T[c1]
    y = club.T[c2]
    n = list(club.T.index)

    fig, ax = plt.subplots()
    ax.scatter(x, y, s=0)
    fig.set_figwidth(12)
    fig.set_figheight(8)
    plt.title("Preference Space for "+ c1 + " vs. " + c2, fontsize=20)
    ax.set_xlabel(movie1, fontsize=16)
    ax.set_ylabel(movie2, fontsize=16) 

    for i, txt in enumerate(n):
        ax.annotate(txt, (x[i], y[i]), fontsize=12)

In [8]:
distancias=squareform(pdist(club.T, 'euclidean'))
distancias

array([[    0.        , 20540.54081761,  6847.21177839, ...,
         4280.5617622 ,  4280.5617622 ,  4349.95896532],
       [20540.54081761,     0.        , 13778.4124556 , ...,
        16579.41539322, 16579.41539322, 16440.37331757],
       [ 6847.21177839, 13778.4124556 ,     0.        , ...,
         3174.64883765,  3174.64883765,  3035.77145496],
       ...,
       [ 4280.5617622 , 16579.41539322,  3174.64883765, ...,
            0.        ,     0.        ,   613.84851552],
       [ 4280.5617622 , 16579.41539322,  3174.64883765, ...,
            0.        ,     0.        ,   613.84851552],
       [ 4349.95896532, 16440.37331757,  3035.77145496, ...,
          613.84851552,   613.84851552,     0.        ]])

In [9]:
similitud=pd.DataFrame(1/(1+distancias), index=club.columns, columns=club.columns)
similitud

,Age,Height(cm),Weight(kgs),Weak Foot,Inter_Rep,Jersey,Overall,Potential,Value(€M),Wage(€K),...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Age,1.000000,0.000049,0.000146,0.000327,0.000303,0.000399,0.000178,0.000158,1.216518e-09,3.082268e-07,...,0.000226,0.000229,0.000229,0.000229,0.000226,0.000230,0.000234,0.000234,0.000234,0.000230
Height(cm),0.000049,1.000000,0.000073,0.000043,0.000042,0.000047,0.000066,0.000070,1.216530e-09,3.090039e-07,...,0.000061,0.000061,0.000061,0.000061,0.000061,0.000061,0.000060,0.000060,0.000060,0.000061
Weight(kgs),0.000146,0.000073,1.000000,0.000102,0.000099,0.000126,0.000577,0.000725,1.216522e-09,3.084838e-07,...,0.000337,0.000329,0.000329,0.000329,0.000337,0.000329,0.000315,0.000315,0.000315,0.000329
Weak Foot,0.000327,0.000043,0.000102,1.000000,0.003744,0.000322,0.000116,0.000108,1.216516e-09,3.081054e-07,...,0.000136,0.000137,0.000137,0.000137,0.000136,0.000138,0.000139,0.000139,0.000139,0.000138
Inter_Rep,0.000303,0.000042,0.000099,0.003744,1.000000,0.000304,0.000113,0.000105,1.216516e-09,3.080979e-07,...,0.000132,0.000133,0.000133,0.000133,0.000132,0.000133,0.000135,0.000135,0.000135,0.000133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LB,0.000230,0.000061,0.000329,0.000138,0.000133,0.000178,0.000570,0.000414,1.216521e-09,3.084106e-07,...,0.003944,0.003072,0.003072,0.003072,0.003944,1.000000,0.001626,0.001626,0.001626,1.000000
LCB,0.000234,0.000060,0.000315,0.000139,0.000135,0.000179,0.000486,0.000370,1.216521e-09,3.084029e-07,...,0.001196,0.001730,0.001730,0.001730,0.001196,0.001626,1.000000,1.000000,1.000000,0.001626
CB,0.000234,0.000060,0.000315,0.000139,0.000135,0.000179,0.000486,0.000370,1.216521e-09,3.084029e-07,...,0.001196,0.001730,0.001730,0.001730,0.001196,0.001626,1.000000,1.000000,1.000000,0.001626
RCB,0.000234,0.000060,0.000315,0.000139,0.000135,0.000179,0.000486,0.000370,1.216521e-09,3.084029e-07,...,0.001196,0.001730,0.001730,0.001730,0.001196,0.001626,1.000000,1.000000,1.000000,0.001626
RB,0.000230,0.000061,0.000329,0.000138,0.000133,0.000178,0.000570,0.000414,1.216521e-09,3.084106e-07,...,0.003944,0.003072,0.003072,0.003072,0.003944,1.000000,0.001626,0.001626,0.001626,1.000000

In [10]:
tom = {'Age': 24,'Height(cm)':173,'Weight(kgs)': 72,'Weak Foot': 5,'Inter_Rep': 5,
       'Jersey': 8, 'Overall': 75, 'Potential': 94, 'Value(€M)': 200, 'Wage(€K)': 500,
       'Release_Clause(€M)': 450, 'Special': 2202, 'SkillMoves': 3, 'ShortPass': 88, 'LongPass': 56,
       'ShotPower': 45, 'LongShots': 67, 'Penalties': 75, 'Agility': 65, 'Acceleration': 39,
       'SprintSpeed': 67,'Stamina': 58, 'Strength': 73, 'Reactions': 39, 'Dribbling': 64,
       'BallControl': 84, 'Aggression': 15, 'Interceptions': 47, 'Positioning': 89, 'Vision': 88,
       'Balance': 65, 'Composure': 72, 'Crossing': 64, 'Finishing': 69, 'Jumping': 41,
       'HeadAccuracy': 67, 'Marking': 70, 'StandingTackle': 26, 'SlidingTackle': 34, 'GKDiving': 31,
       'Volleys': 45, 'Curve': 31, 'FKAccuracy': 75, 'GKHandling': 34, 'GKKicking': 29,'GKPositioning': 10,
       'GKReflexes': 78, 'LS':65, 'ST':57, 'RS':87,'LW':58, 'LF':68,'CF':78, 'RF':88,'RW':58, 'LAM':78, 
       'CAM':89, 'RAM': 70 ,'LM':72, 'LCM':68, 'CM':77, 'RCM':57, 'RM':69, 'LWB':57, 'LDM':86, 'CDM':56, 
      'RDM':66, 'RWB':87, 'LB':56,'LCB':65, 'CB':75, 'RCB':65, 'RB':76}