In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/1.2.3/libexec/lib/python3.7/site-packages (0.22)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/Cellar/jupyterlab/1.2.3/libexec/lib/python3.7/site-packages (from scikit-learn) (1.3.3)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/Cellar/jupyterlab/1.2.3/libexec/lib/python3.7/site-packages (from scikit-learn) (1.17.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/Cellar/jupyterlab/1.2.3/libexec/lib/python3.7/site-packages (from scikit-learn) (0.14.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

In [3]:
club = pd.read_csv('recommend.csv')
club.tail()

,ID,Name,Position,Age,Height(cm),Weight(kgs),Preferred Foot,Weak Foot,Nationality,Continent,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
18202,238813,J. Lundstram,CM,19,179.823225,60.794728,Right,2.0,England,Europe,...,44,45,45,45,44,45,45,45,45,45
18203,243165,N. Christoffersson,ST,19,192.014630,77.127640,Right,2.0,Sweden,Europe,...,30,31,31,31,30,29,32,32,32,29
18204,241638,B. Worman,ST,16,176.775373,67.146416,Right,3.0,England,Europe,...,34,30,30,30,34,33,28,28,28,33
18205,246268,D. Walker-Rice,RW,17,155.440415,69.868568,Right,3.0,England,Europe,...,36,32,32,32,36,35,31,31,31,35
18206,246269,G. Nugent,CM,16,155.440415,79.849792,Right,3.0,England,Europe,...,46,46,46,46,46,46,47,47,47,46

In [4]:
recom_club = club.copy()
df_names = club.copy()

In [5]:
recom_club = club.drop(columns=['ID','Club','Position','Preferred Foot', 'Nationality','Continent',
                        'Joined', 'Evolution','Contract_Expiry','Work Rate','Work RAttack',  
                     'Work RDefense','year_joined', 'month_joined','day_joined','Age', 'Height(cm)', 
                                'Weight(kgs)', 'Weak Foot', 'Inter_Rep', 'Jersey', 'Value(€M)', 'Wage(€K)',
       'Release_Clause(€M)'])
recom_club = recom_club.set_index('Name').T

In [6]:
df_names = df_names[['Name','Age','Nationality','Value(€M)', 'Wage(€K)']]

In [7]:
recom_club

Name,L. Messi,Cristiano Ronaldo,Neymar Jr,De Gea,K. De Bruyne,E. Hazard,L. Modrić,L. Suárez,Sergio Ramos,J. Oblak,...,D. Holland,J. Livesey,M. Baldisimo,J. Young,D. Walsh,J. Lundstram,N. Christoffersson,B. Worman,D. Walker-Rice,G. Nugent
Overall,94.0,94.0,92.0,91.0,91.0,91.0,91.0,91.0,91.0,90.0,...,47.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0,47.0,46.0
Potential,94.0,94.0,93.0,93.0,92.0,91.0,91.0,91.0,91.0,93.0,...,61.0,70.0,69.0,62.0,68.0,65.0,63.0,67.0,66.0,66.0
Difference,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,...,14.0,23.0,22.0,15.0,21.0,18.0,16.0,20.0,19.0,20.0
Special,2202.0,2228.0,2143.0,1471.0,2281.0,2142.0,2280.0,2346.0,2201.0,1331.0,...,1362.0,792.0,1303.0,1203.0,1098.0,1307.0,1098.0,1189.0,1228.0,1321.0
SkillMoves,4.0,5.0,5.0,1.0,4.0,4.0,4.0,3.0,3.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LB,59.0,61.0,60.0,50.0,73.0,60.0,79.0,66.0,84.0,50.0,...,44.0,50.0,47.0,30.0,42.0,45.0,29.0,33.0,35.0,46.0
LCB,47.0,53.0,47.0,50.0,66.0,49.0,71.0,63.0,87.0,50.0,...,40.0,50.0,48.0,27.0,46.0,45.0,32.0,28.0,31.0,47.0
CB,47.0,53.0,47.0,50.0,66.0,49.0,71.0,63.0,87.0,50.0,...,40.0,50.0,48.0,27.0,46.0,45.0,32.0,28.0,31.0,47.0
RCB,47.0,53.0,47.0,50.0,66.0,49.0,71.0,63.0,87.0,50.0,...,40.0,50.0,48.0,27.0,46.0,45.0,32.0,28.0,31.0,47.0
RB,59.0,61.0,60.0,50.0,73.0,60.0,79.0,66.0,84.0,50.0,...,44.0,50.0,47.0,30.0,42.0,45.0,29.0,33.0,35.0,46.0

In [8]:
recom_club.index

Index(['Overall', 'Potential', 'Difference', 'Special', 'SkillMoves',
       'ShortPass', 'LongPass', 'ShotPower', 'LongShots', 'Penalties',
       'Agility', 'Acceleration', 'SprintSpeed', 'Stamina', 'Strength',
       'Reactions', 'Dribbling', 'BallControl', 'Aggression', 'Interceptions',
       'Positioning', 'Vision', 'Balance', 'Composure', 'Crossing',
       'Finishing', 'Jumping', 'HeadAccuracy', 'Marking', 'StandingTackle',
       'SlidingTackle', 'GKDiving', 'Volleys', 'Curve', 'FKAccuracy',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB'],
      dtype='object')

In [9]:
distancias=squareform(pdist(recom_club.T, 'euclidean'))
distancias

array([[   0.        ,   69.38299503,   71.56116265, ..., 1058.25233286,
        1018.61965424,  928.9822388 ],
       [  69.38299503,    0.        ,  107.9212676 , ..., 1081.32788737,
        1042.44712096,  951.17611408],
       [  71.56116265,  107.9212676 ,    0.        , ...,  995.84285909,
         956.421978  ,  866.35847084],
       ...,
       [1058.25233286, 1081.32788737,  995.84285909, ...,    0.        ,
          73.30757123,  164.43235691],
       [1018.61965424, 1042.44712096,  956.421978  , ...,   73.30757123,
           0.        ,  126.87789406],
       [ 928.9822388 ,  951.17611408,  866.35847084, ...,  164.43235691,
         126.87789406,    0.        ]])

In [10]:
similitud=pd.DataFrame(1/(1+distancias), index=recom_club.columns, columns=recom_club.columns)
similitud.head()

Name,L. Messi,Cristiano Ronaldo,Neymar Jr,De Gea,K. De Bruyne,E. Hazard,L. Modrić,L. Suárez,Sergio Ramos,J. Oblak,...,D. Holland,J. Livesey,M. Baldisimo,J. Young,D. Walsh,J. Lundstram,N. Christoffersson,B. Worman,D. Walker-Rice,G. Nugent
Name,,,,,,,,,,,,,,,,,,,,,
L. Messi,1.000000,0.014208,0.013781,0.001230,0.007639,0.012920,0.006529,0.005713,0.004828,0.001053,...,0.001132,0.000683,0.001053,0.000955,0.000857,0.001059,0.000867,0.000944,0.000981,0.001075
Cristiano Ronaldo,0.014208,1.000000,0.009181,0.001200,0.008630,0.009006,0.006893,0.006898,0.005348,0.001031,...,0.001102,0.000672,0.001029,0.000934,0.000842,0.001034,0.000850,0.000924,0.000958,0.001050
Neymar Jr,0.013781,0.009181,1.000000,0.001330,0.005875,0.029530,0.005472,0.004475,0.004964,0.001126,...,0.001218,0.000713,0.001128,0.001015,0.000906,0.001134,0.000916,0.001003,0.001044,0.001153
De Gea,0.001230,0.001200,0.001330,1.000000,0.001132,0.001331,0.001133,0.001071,0.001246,0.006468,...,0.004072,0.001430,0.003661,0.002849,0.002283,0.003685,0.002274,0.002746,0.002979,0.003852
K. De Bruyne,0.007639,0.008630,0.005875,0.001132,1.000000,0.006035,0.016962,0.009810,0.006444,0.000979,...,0.001044,0.000650,0.000980,0.000887,0.000807,0.000983,0.000812,0.000878,0.000911,0.000998

In [11]:
positions = {'Forward' : ['CF', 'LF', 'LS', 'LW', 'RF', 'RS', 'RW', 'ST'],
'Midfield' : ['CAM', 'CDM', 'CM', 'LAM', 'LCM', 'LDM', 'LM', 'RAM', 'RCB', 'RCM', 'RDM', 'RM'],
'Defense' : ['CB', 'LB', 'LCB', 'LWB', 'RB', 'RCB', 'RWB'],
'Goalkeeper' : ['GK']}

In [12]:
Megan_Rapinoe = {'Overall': 92, 'Potential': 92,'Difference': 0, 'Special': 1605, 'SkillMoves': 5, 
                 'ShortPass': 94, 'LongPass': 93,'ShotPower': 82, 'LongShots': 85, 'Penalties': 90, 
                 'Agility': 87, 'Acceleration': 77,'SprintSpeed': 75,'Stamina': 72, 'Strength': 67, 
                 'Reactions': 84, 'Dribbling': 94,'BallControl': 91, 'Aggression': 67, 'Interceptions': 47, 
                 'Positioning': 88, 'Vision': 92,'Balance': 71, 'Composure': 93, 'Crossing': 94, 
                 'Finishing': 86, 'Jumping': 76,'HeadAccuracy': 76, 'Marking': 46, 'StandingTackle': 46, 
                 'SlidingTackle': 48, 'GKDiving': 12,'Volleys': 74, 'Curve': 93, 'FKAccuracy': 88, 
                'GKHandling': 15, 'GKKicking': 14,'GKPositioning': 14,'GKReflexes': 11, 'LS':88, 'ST':88, 
                 'RS':88,'LW':92, 'LF':93,'CF':93, 'RF':92,'RW':93, 'LAM':93,'CAM':93, 'RAM': 91 ,'LM':84, 
                 'LCM':84, 'CM':84, 'RCM':91, 'RM':64, 'LWB':61, 'LDM':61, 'CDM':64, 'RDM':59, 'RWB':47, 
                 'LB':47,'LCB':47, 'CB':47, 'RCB':47, 'RB':59}

In [13]:
Lieke_Martens = {'Overall': 90, 'Potential': 91,'Difference': 1, 'Special': 1598, 'SkillMoves': 2, 
                 'ShortPass': 86, 'LongPass': 80,'ShotPower': 83, 'LongShots': 89, 'Penalties': 79, 
                 'Agility': 88, 'Acceleration': 80,'SprintSpeed': 83,'Stamina': 79, 'Strength': 74, 
                 'Reactions': 86, 'Dribbling': 92,'BallControl': 91, 'Aggression': 66, 'Interceptions': 45, 
                 'Positioning': 88, 'Vision': 87,'Balance': 85, 'Composure': 91, 'Crossing': 90, 
                 'Finishing': 87, 'Jumping': 69,'HeadAccuracy': 57, 'Marking': 40, 'StandingTackle': 38, 
                 'SlidingTackle': 32, 'GKDiving': 9,'Volleys': 78, 'Curve': 87, 'FKAccuracy': 80, 
                 'GKHandling': 7, 'GKKicking': 13,'GKPositioning': 16,'GKReflexes': 16, 'LS':86, 'ST':86, 
                 'RS':86,'LW':87, 'LF':87,'CF':87, 'RF':87,'RW':87, 'LAM':87,'CAM':86, 'RAM': 86 ,'LM':86, 
                 'LCM':86, 'CM':80, 'RCM':80, 'RM':80, 'LWB':86, 'LDM':70, 'CDM':67, 'RDM':67, 'RWB':67, 
                 'LB':70,'LCB':67, 'CB':61, 'RCB':61, 'RB':67}

In [14]:
Alex_Morgan = {'Overall': 90, 'Potential': 90,'Difference': 0, 'Special': 2000, 'SkillMoves': 5, 
                 'ShortPass': 80, 'LongPass': 67,'ShotPower': 85, 'LongShots': 82, 'Penalties': 89, 
                 'Agility': 76, 'Acceleration': 84,'SprintSpeed': 86,'Stamina': 75, 'Strength': 76, 
                 'Reactions': 81, 'Dribbling': 85,'BallControl': 87, 'Aggression': 53, 'Interceptions': 63, 
                 'Positioning': 90, 'Vision': 74,'Balance': 68, 'Composure': 91, 'Crossing': 71, 
                 'Finishing': 89, 'Jumping': 76,'HeadAccuracy': 86, 'Marking': 34, 'StandingTackle': 29, 
                 'SlidingTackle': 27, 'GKDiving': 11,'Volleys': 87, 'Curve': 68, 'FKAccuracy': 70, 
                 'GKHandling': 11, 'GKKicking': 10,'GKPositioning': 10,'GKReflexes': 11, 'LS':85, 'ST':84, 
                 'RS':84,'LW':79, 'LF':81,'CF':81, 'RF':81,'RW':79, 'LAM':78,'CAM':78, 'RAM': 78 ,'LM':79, 
                 'LCM':72, 'CM':72, 'RCM':72, 'RM':79, 'LWB':60, 'LDM':58, 'CDM':58, 'RDM':60, 'RWB':57, 
                 'LB':54,'LCB':54, 'CB':54, 'RCB':56, 'RB':57}

In [15]:
Kenti_Robles = {'Overall': 82, 'Potential': 82,'Difference': 0, 'Special': 792, 'SkillMoves': 4, 
                 'ShortPass': 74, 'LongPass': 71,'ShotPower': 69, 'LongShots': 77, 'Penalties': 76, 
                 'Agility': 74, 'Acceleration': 83,'SprintSpeed': 78,'Stamina': 92, 'Strength': 78, 
                 'Reactions': 80, 'Dribbling': 71,'BallControl': 76, 'Aggression': 75, 'Interceptions': 82, 
                 'Positioning': 61, 'Vision': 60,'Balance': 80, 'Composure': 72, 'Crossing': 78, 
                 'Finishing': 48, 'Jumping': 77,'HeadAccuracy': 64, 'Marking': 84, 'StandingTackle': 84, 
                 'SlidingTackle': 83, 'GKDiving': 11,'Volleys': 60, 'Curve': 82, 'FKAccuracy': 78, 
                 'GKHandling': 10, 'GKKicking': 10,'GKPositioning': 12,'GKReflexes': 11, 'LS':77, 'ST':77, 
                 'RS':77,'LW':76, 'LF':78,'CF':78, 'RF':78,'RW':76, 'LAM':79,'CAM':79, 'RAM': 79 ,'LM':77, 
                 'LCM':82, 'CM':82, 'RCM':77, 'RM':78, 'LWB':83, 'LDM':83, 'CDM':83, 'RDM':78, 'RWB':77, 
                 'LB':81,'LCB':81, 'CB':73, 'RCB':81, 'RB':77}

In [16]:
Charlyn_Corral = {'Overall': 82, 'Potential': 82,'Difference': 0, 'Special': 1205, 'SkillMoves': 2, 
                 'ShortPass': 63, 'LongPass': 57,'ShotPower': 83, 'LongShots': 80, 'Penalties': 80, 
                 'Agility': 87, 'Acceleration': 74,'SprintSpeed': 73,'Stamina': 70, 'Strength': 54, 
                 'Reactions': 86, 'Dribbling': 84,'BallControl': 82, 'Aggression': 46, 'Interceptions': 24, 
                 'Positioning': 92, 'Vision': 69,'Balance': 94, 'Composure': 78, 'Crossing': 59, 
                 'Finishing': 91, 'Jumping': 93,'HeadAccuracy': 64, 'Marking': 18, 'StandingTackle': 22, 
                 'SlidingTackle': 19, 'GKDiving': 9,'Volleys': 75, 'Curve': 78, 'FKAccuracy': 79, 
                 'GKHandling': 12, 'GKKicking': 14,'GKPositioning': 16,'GKReflexes': 8, 'LS':72, 'ST':72, 
                 'RS':72,'LW':80, 'LF':78,'CF':78, 'RF':78,'RW':80, 'LAM':79,'CAM':79, 'RAM': 79 ,'LM':79, 
                 'LCM':70, 'CM':70, 'RCM':70, 'RM':79, 'LWB':59, 'LDM':53, 'CDM':53, 'RDM':53, 'RWB':59, 
                 'LB':54,'LCB':42, 'CB':42, 'RCB':42, 'RB':54}

In [17]:
Stephany_Mayor = {'Overall': 78, 'Potential': 78,'Difference': 0, 'Special': 700, 'SkillMoves': 4, 
                 'ShortPass': 76, 'LongPass': 73,'ShotPower': 78, 'LongShots': 75, 'Penalties': 68, 
                 'Agility': 80, 'Acceleration': 83,'SprintSpeed': 79,'Stamina': 79, 'Strength': 56, 
                 'Reactions': 75, 'Dribbling': 81,'BallControl': 80, 'Aggression': 50, 'Interceptions': 46, 
                 'Positioning': 74, 'Vision': 75,'Balance': 81, 'Composure': 84, 'Crossing': 74, 
                 'Finishing': 76, 'Jumping': 83,'HeadAccuracy': 46, 'Marking': 46, 'StandingTackle': 23, 
                 'SlidingTackle': 21, 'GKDiving': 10,'Volleys': 60, 'Curve': 75, 'FKAccuracy': 70, 
                 'GKHandling': 11, 'GKKicking': 12,'GKPositioning': 11,'GKReflexes': 13, 'LS':72, 'ST':72, 
                 'RS':72,'LW':73, 'LF':73,'CF':73, 'RF':73,'RW':73, 'LAM':73,'CAM':73, 'RAM': 73 ,'LM':74, 
                 'LCM':74, 'CM':74, 'RCM':74, 'RM':74, 'LWB':73, 'LDM':73, 'CDM':73, 'RDM':73, 'RWB':73, 
                 'LB':72,'LCB':70, 'CB':70, 'RCB':70, 'RB':72}

In [18]:
recom_club['Megan_Rapinoe'] = pd.Series(Megan_Rapinoe)
recom_club['Lieke_Martens'] = pd.Series(Lieke_Martens)
recom_club['Alex_Morgan'] = pd.Series(Alex_Morgan)
recom_club['Kenti_Robles'] = pd.Series(Kenti_Robles)
recom_club['Charlyn_Corral'] = pd.Series(Charlyn_Corral)
recom_club['Stephany_Mayor'] = pd.Series(Stephany_Mayor)

In [19]:
distance = squareform(pdist(recom_club.T, 'euclidean'))
similarity = pd.DataFrame(1/(1+distance), index=recom_club.columns, columns=recom_club.columns)
similarity

Name,L. Messi,Cristiano Ronaldo,Neymar Jr,De Gea,K. De Bruyne,E. Hazard,L. Modrić,L. Suárez,Sergio Ramos,J. Oblak,...,N. Christoffersson,B. Worman,D. Walker-Rice,G. Nugent,Megan_Rapinoe,Lieke_Martens,Alex_Morgan,Kenti_Robles,Charlyn_Corral,Stephany_Mayor
Name,,,,,,,,,,,,,,,,,,,,,
L. Messi,1.000000,0.014208,0.013781,0.001230,0.007639,0.012920,0.006529,0.005713,0.004828,0.001053,...,0.000867,0.000944,0.000981,0.001075,0.001660,0.001642,0.004459,0.000703,0.000997,0.000663
Cristiano Ronaldo,0.014208,1.000000,0.009181,0.001200,0.008630,0.009006,0.006893,0.006898,0.005348,0.001031,...,0.000850,0.000924,0.000958,0.001050,0.001590,0.001575,0.004182,0.000691,0.000972,0.000652
Neymar Jr,0.013781,0.009181,1.000000,0.001330,0.005875,0.029530,0.005472,0.004475,0.004964,0.001126,...,0.000916,0.001003,0.001044,0.001153,0.001839,0.001820,0.006081,0.000734,0.001060,0.000691
De Gea,0.001230,0.001200,0.001330,1.000000,0.001132,0.001331,0.001133,0.001071,0.001246,0.006468,...,0.002274,0.002746,0.002979,0.003852,0.002707,0.002788,0.001624,0.001326,0.002496,0.001213
K. De Bruyne,0.007639,0.008630,0.005875,0.001132,1.000000,0.006035,0.016962,0.009810,0.006444,0.000979,...,0.000812,0.000878,0.000911,0.000998,0.001465,0.001456,0.003317,0.000670,0.000920,0.000631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lieke_Martens,0.001642,0.001575,0.001820,0.002788,0.001456,0.001826,0.001452,0.001330,0.001602,0.002245,...,0.001686,0.001977,0.002137,0.002576,0.013820,1.000000,0.002436,0.001224,0.002452,0.001108
Alex_Morgan,0.004459,0.004182,0.006081,0.001624,0.003317,0.006178,0.003236,0.002790,0.003861,0.001335,...,0.001059,0.001175,0.001232,0.001386,0.002466,0.002436,1.000000,0.000821,0.001250,0.000767
Kenti_Robles,0.000703,0.000691,0.000734,0.001326,0.000670,0.000735,0.000670,0.000641,0.000708,0.001562,...,0.002280,0.002016,0.001916,0.001715,0.001208,0.001224,0.000821,1.000000,0.002219,0.006498
Charlyn_Corral,0.000997,0.000972,0.001060,0.002496,0.000920,0.001061,0.000919,0.000871,0.000983,0.002929,...,0.003628,0.004382,0.004458,0.003959,0.002396,0.002452,0.001250,0.002219,1.000000,0.001942
Stephany_Mayor,0.000663,0.000652,0.000691,0.001213,0.000631,0.000691,0.000631,0.000606,0.000663,0.001422,...,0.002088,0.001832,0.001730,0.001521,0.001094,0.001108,0.000767,0.006498,0.001942,1.000000

In [20]:
similarity['Megan_Rapinoe'].sort_values(ascending=False)[1:5]

Name
Lieke_Martens      0.013820
M. El Hamdaoui     0.005961
M. Rojas           0.005954
Raphael Paneira    0.005923
Name: Megan_Rapinoe, dtype: float64

In [21]:
df_names.loc[df_names['Name']=='M. El Hamdaoui']

                Name  Age Nationality  Value(€M)  Wage(€K)
8070  M. El Hamdaoui   33     Morocco   475000.0    3000.0

In [22]:
similarity['Lieke_Martens'].sort_values(ascending=False)[1:5]

Name
Megan_Rapinoe    0.013820
M. Rojas         0.006260
L. Morosini      0.006177
M. Sprocati      0.006158
Name: Lieke_Martens, dtype: float64

In [23]:
df_names.loc[df_names['Name']=='M. Rojas']

           Name  Age  Nationality  Value(€M)  Wage(€K)
5874   M. Rojas   26  New Zealand  1100000.0    5000.0
10445  M. Rojas   22     Paraguay   775000.0    3000.0

In [24]:
similarity['Alex_Morgan'].sort_values(ascending=False)[1:5]

Name
C. Bakambu      0.018502
C. Immobile     0.018375
C. Vela         0.016851
V. Aboubakar    0.016827
Name: Alex_Morgan, dtype: float64

In [25]:
df_names.loc[df_names['Name']=='C. Bakambu']

           Name  Age Nationality   Value(€M)  Wage(€K)
268  C. Bakambu   27    DR Congo  26000000.0   33000.0

In [26]:
similarity['Kenti_Robles'].sort_values(ascending=False)[1:5]

Name
Stephany_Mayor    0.006498
S. Phillips       0.002887
S. Al Wehimid     0.002867
K. Pilkington     0.002866
Name: Kenti_Robles, dtype: float64

In [27]:
df_names.loc[df_names['Name']=='S. Phillips']

              Name  Age Nationality  Value(€M)  Wage(€K)
17752  S. Phillips   40     England   200000.0    1000.0

In [28]:
similarity['Charlyn_Corral'].sort_values(ascending=False)[1:5]

Name
R. Minor           0.005551
Vinicius           0.005354
L. Gelzleichter    0.005049
D. Lalhlimpuia     0.005008
Name: Charlyn_Corral, dtype: float64

In [29]:
df_names.loc[df_names['Name']=='R. Minor']

           Name  Age Nationality  Value(€M)  Wage(€K)
13244  R. Minor   30     Denmark   230000.0    2000.0

In [30]:
similarity['Stephany_Mayor'].sort_values(ascending=False)[1:5]

Name
Kenti_Robles     0.006498
K. Pilkington    0.003131
L. Wahlstedt     0.003107
W. Henry         0.003097
Name: Stephany_Mayor, dtype: float64

In [31]:
df_names.loc[df_names['Name']=='L. Wahlstedt']

               Name  Age Nationality  Value(€M)  Wage(€K)
18178  L. Wahlstedt   18      Sweden    50000.0    1000.0

In [32]:
similarity['L. Messi'].sort_values(ascending=False)[1:5]

Name
Cristiano Ronaldo    0.014208
Neymar Jr            0.013781
M. Reus              0.013402
E. Hazard            0.012920
Name: L. Messi, dtype: float64

In [34]:
df_names.loc[df_names['Name']=='Cristiano Ronaldo']

                Name  Age Nationality   Value(€M)  Wage(€K)
1  Cristiano Ronaldo   33    Portugal  77000000.0  405000.0

In [35]:
similarity['H. Lozano'].sort_values(ascending=False)[1:5]

Name
B. Traoré         0.030848
Gonçalo Guedes    0.029909
Raphinha          0.029909
L. Bailey         0.023666
Name: H. Lozano, dtype: float64

In [36]:
df_names.loc[df_names['Name']=='B. Traoré']

            Name  Age   Nationality   Value(€M)  Wage(€K)
811    B. Traoré   22  Burkina Faso  14000000.0   57000.0
11787  B. Traoré   25        France    400000.0    2000.0

In [37]:
similarity['C. Vela'].sort_values(ascending=False)[1:5]

Name
Lucas Pérez    0.027464
Malcom         0.024632
V. Germain     0.024105
S. Jovetić     0.023185
Name: C. Vela, dtype: float64

In [38]:
df_names.loc[df_names['Name']=='Lucas Pérez']

            Name  Age Nationality   Value(€M)  Wage(€K)
847  Lucas Pérez   29       Spain  10500000.0   85000.0