In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from IPython.core.display import HTML
import os
import glob
import re
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')

In [2]:
fifamach=pd.read_csv('unsupervized.csv')
fifamach.head()

,ID,Name,Position,Age,Height(cm),Weight(kgs),Preferred Foot,Weak Foot,Nationality,Inter_Rep,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Work RAttack,Work RDefence
0,158023,L. Messi,RF,31,173.727522,72.137028,Left,4.0,Argentina,5.0,...,61,61,64,59,47,47,47,59,Medium,Medium
1,20801,Cristiano Ronaldo,ST,33,188.966778,83.025636,Right,4.0,Portugal,5.0,...,61,61,65,61,53,53,53,61,High,Low
2,190871,Neymar Jr,LW,26,179.823225,68.053800,Right,5.0,Brazil,5.0,...,60,60,65,60,47,47,47,60,High,Medium
3,193080,De Gea,GK,27,195.062481,76.220256,Right,3.0,Spain,4.0,...,50,50,50,50,50,50,50,50,Medium,Medium
4,192985,K. De Bruyne,RCM,27,155.745200,69.868568,Right,5.0,Belgium,4.0,...,77,77,77,73,66,66,66,73,High,High

In [3]:
fifamach.describe()

,ID,Age,Height(cm),Weight(kgs),Weak Foot,Inter_Rep,Jersey,Overall,Potential,Value(€M),...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,1.820700e+04,...,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,176.687304,75.307016,2.947438,1.112924,19.481683,66.238699,71.307299,2.410696e+06,...,56.652881,56.043555,56.043555,56.043555,56.652881,56.027297,54.971659,54.971659,54.971659,56.027297
std,29965.244204,4.669943,13.644282,7.065593,0.659591,0.393554,15.960826,6.908930,6.136496,5.594933e+06,...,8.760726,9.720149,9.720149,9.720149,8.760726,9.213375,11.156382,11.156382,11.156382,9.213375
min,16.000000,16.000000,155.440415,49.906120,1.000000,1.000000,0.000000,46.000000,48.000000,0.000000e+00,...,30.000000,28.000000,28.000000,28.000000,30.000000,29.000000,25.000000,25.000000,25.000000,29.000000
25%,200315.500000,21.000000,155.745200,69.868568,3.000000,1.000000,8.000000,62.000000,67.000000,3.000000e+05,...,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,47.000000,47.000000,47.000000,50.000000
50%,221759.000000,25.000000,179.823225,74.859180,3.000000,1.000000,17.000000,66.000000,71.000000,6.750000e+05,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,55.000000,55.000000,55.000000,56.000000
75%,236529.500000,28.000000,185.918927,79.849792,3.000000,1.000000,26.000000,71.000000,75.000000,2.000000e+06,...,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,64.000000,64.000000,64.000000,63.000000
max,246620.000000,45.000000,210.301737,110.247156,5.000000,5.000000,99.000000,94.000000,95.000000,1.185000e+08,...,85.000000,87.000000,87.000000,87.000000,85.000000,84.000000,87.000000,87.000000,87.000000,84.000000

In [4]:
fifamach.isnull().sum(axis=0)

ID               0
Name             0
Position         0
Age              0
Height(cm)       0
                ..
CB               0
RCB              0
RB               0
Work RAttack     0
Work RDefence    0
Length: 84, dtype: int64

In [5]:
cols=[c for c in fifamach.columns.values if c not in ['Name', 'Position', 'Preferred Foot',
                                                   'Nationality', 'Club', 'Joined', 'Contract_Expiry',
                                                   'Work Rate', 'Work RAttack', 'Work RDefence']]

In [6]:
from sklearn.cluster import KMeans

kmeans=KMeans(n_clusters=4)
clusters=kmeans.fit(fifamach[cols])

In [7]:
len(clusters.cluster_centers_)

4

In [8]:
clusters.cluster_centers_

array([[2.15702452e+05, 2.49955218e+01, 1.76633085e+02, 7.51746029e+01,
        2.91298669e+00, 1.04434631e+00, 1.99980097e+01, 6.47486628e+01,
        7.01095285e+01, 1.04411867e+06, 5.29300908e+03, 1.53942468e+06,
        1.56189458e+03, 2.28102642e+00, 5.70132456e+01, 5.10901339e+01,
        5.37635951e+01, 4.52919691e+01, 4.73384334e+01, 6.25910047e+01,
        6.37919191e+01, 6.38905271e+01, 6.20571313e+01, 6.47206726e+01,
        6.01584250e+01, 5.36210230e+01, 5.66211428e+01, 5.45934638e+01,
        4.54856025e+01, 4.82870386e+01, 5.17102403e+01, 6.34824229e+01,
        5.68822688e+01, 4.81577460e+01, 4.39194206e+01, 6.45503354e+01,
        5.11361059e+01, 4.62102574e+01, 4.66368016e+01, 4.47605267e+01,
        1.67873230e+01, 4.12507546e+01, 4.53806568e+01, 4.13490752e+01,
        1.65623707e+01, 1.64195882e+01, 1.65439524e+01, 1.68920340e+01,
        5.56026869e+01, 5.56026869e+01, 5.56026869e+01, 5.66383257e+01,
        5.63075631e+01, 5.63075631e+01, 5.63075631e+01, 5.66383257e+01,
        5.65254385e+01, 5.65254385e+01, 5.65254385e+01, 5.72612887e+01,
        5.58606170e+01, 5.58606170e+01, 5.58606170e+01, 5.72612887e+01,
        5.55353278e+01, 5.48710661e+01, 5.48710661e+01, 5.48710661e+01,
        5.55353278e+01, 5.49876850e+01, 5.40342704e+01, 5.40342704e+01,
        5.40342704e+01, 5.49876850e+01],
       [2.00626869e+05, 2.59828179e+01, 1.77053974e+02, 7.62841782e+01,
        3.35738832e+00, 2.37800687e+00, 1.29725086e+01, 8.27182131e+01,
        8.53745704e+01, 2.69089347e+07, 8.67216495e+04, 5.20756014e+07,
        1.95974914e+03, 3.20274914e+00, 7.57628866e+01, 6.91168385e+01,
        7.08178694e+01, 6.45085911e+01, 6.03024055e+01, 7.34329897e+01,
        7.37079038e+01, 7.40171821e+01, 7.43848797e+01, 6.97800687e+01,
        8.07560137e+01, 7.26563574e+01, 7.58384880e+01, 6.57869416e+01,
        5.81786942e+01, 6.65257732e+01, 7.18694158e+01, 6.99037801e+01,
        7.70412371e+01, 6.54295533e+01, 6.18591065e+01, 7.02646048e+01,
        6.12027491e+01, 5.75154639e+01, 5.63745704e+01, 5.28144330e+01,
        1.68178694e+01, 6.00000000e+01, 6.51477663e+01, 5.82749141e+01,
        1.67010309e+01, 1.62955326e+01, 1.65876289e+01, 1.71168385e+01,
        7.06529210e+01, 7.06529210e+01, 7.06529210e+01, 7.27216495e+01,
        7.28075601e+01, 7.28075601e+01, 7.28075601e+01, 7.27216495e+01,
        7.33195876e+01, 7.33195876e+01, 7.33195876e+01, 7.32164948e+01,
        7.23092784e+01, 7.23092784e+01, 7.23092784e+01, 7.32164948e+01,
        6.83195876e+01, 6.80034364e+01, 6.80034364e+01, 6.80034364e+01,
        6.83195876e+01, 6.67800687e+01, 6.40240550e+01, 6.40240550e+01,
        6.40240550e+01, 6.67800687e+01],
       [1.91500540e+05, 2.65800000e+01, 1.79603779e+02, 7.65106189e+01,
        3.56000000e+00, 3.42000000e+00, 1.12200000e+01, 8.83000000e+01,
        9.03000000e+01, 6.59100000e+07, 2.37680000e+05, 1.29164000e+08,
        2.06854000e+03, 3.42000000e+00, 8.00200000e+01, 7.36200000e+01,
        7.60800000e+01, 7.29800000e+01, 6.82600000e+01, 7.87600000e+01,
        7.74400000e+01, 7.67600000e+01, 7.84200000e+01, 7.17600000e+01,
        8.64000000e+01, 7.88000000e+01, 8.18600000e+01, 6.44800000e+01,
        5.13400000e+01, 7.61000000e+01, 7.94800000e+01, 7.39600000e+01,
        8.41600000e+01, 6.95000000e+01, 7.32400000e+01, 7.15000000e+01,
        6.48000000e+01, 5.29400000e+01, 5.06600000e+01, 4.53800000e+01,
        1.69400000e+01, 6.99000000e+01, 7.27400000e+01, 6.75600000e+01,
        1.67200000e+01, 1.64200000e+01, 1.67800000e+01, 1.69400000e+01,
        7.70800000e+01, 7.70800000e+01, 7.70800000e+01, 7.88400000e+01,
        7.93400000e+01, 7.93400000e+01, 7.93400000e+01, 7.88400000e+01,
        7.94000000e+01, 7.94000000e+01, 7.94000000e+01, 7.88200000e+01,
        7.67200000e+01, 7.67200000e+01, 7.67200000e+01, 7.88200000e+01,
        6.85000000e+01, 6.79000000e+01, 6.79000000e+01, 6.79000000e+01,
        6.85000000e+01, 6.60000000e+01, 6.17000000e+01, 6.17000000e+01,
        6.17000000e+01, 6.60000000e+01],
       [2.04534890e+05, 2.60805369e+01, 1.77033623e+02, 7.63050061e+01,
        3.17337808e+00, 1.45917226e+00, 1.61291946e+01, 7.63383669e+01,
        7.92572707e+01, 8.93635347e+06, 3.07365772e+04, 1.69233221e+07,
        1.84869687e+03, 2.91666667e+00, 7.03590604e+01, 6.40408277e+01,
        6.76387025e+01, 5.99026846e+01, 5.69664430e+01, 6.96672260e+01,
        7.01683445e+01, 7.03998881e+01, 7.14340045e+01, 6.97214765e+01,
        7.31610738e+01, 6.76387025e+01, 7.05906040e+01, 6.54837808e+01,
        5.56045861e+01, 6.15609620e+01, 6.48685682e+01, 6.70743848e+01,
        7.08215884e+01, 6.08025727e+01, 5.67930649e+01, 6.89155481e+01,
        6.09485459e+01, 5.50917226e+01, 5.57438479e+01, 5.26062640e+01,
        1.50357942e+01, 5.42841163e+01, 5.96275168e+01, 5.32790828e+01,
        1.47964206e+01, 1.45302013e+01, 1.49513423e+01, 1.50095078e+01,
        6.59714765e+01, 6.59714765e+01, 6.59714765e+01, 6.72930649e+01,
        6.73696868e+01, 6.73696868e+01, 6.73696868e+01, 6.72930649e+01,
        6.77035794e+01, 6.77035794e+01, 6.77035794e+01, 6.78965324e+01,
        6.70480984e+01, 6.70480984e+01, 6.70480984e+01, 6.78965324e+01,
        6.44720358e+01, 6.43087248e+01, 6.43087248e+01, 6.43087248e+01,
        6.44720358e+01, 6.33467562e+01, 6.17393736e+01, 6.17393736e+01,
        6.17393736e+01, 6.33467562e+01]])

In [9]:
preds=clusters.fit_predict(fifamach[cols])
len(preds)

18207

In [10]:
distancias=clusters.fit_transform(fifamach[cols])
len(distancias)

18207

In [11]:
import numpy as np

distancias[np.where(preds==1)[0]]

array([[9.85255513e+07, 4.23127478e+07, 8.13844705e+07, 4.47018364e+07],
       [7.14658804e+07, 1.58584695e+07, 5.43728654e+07, 7.20863619e+07],
       [5.02859332e+07, 7.00380484e+06, 3.31993250e+07, 9.30863119e+07],
       ...,
       [4.12892134e+07, 1.52634048e+07, 2.42033332e+07, 1.01985871e+08],
       [3.89184182e+07, 1.74110813e+07, 2.17936027e+07, 1.04281699e+08],
       [4.81660752e+07, 1.03559869e+07, 3.12288668e+07, 9.55373660e+07]])

In [12]:
fifamach['cluster']=preds
fifamach.cluster.unique()

array([3, 1, 2, 0])

In [13]:
fifamach[fifamach.cluster==2]

,ID,Name,Position,Age,Height(cm),Weight(kgs),Preferred Foot,Weak Foot,Nationality,Inter_Rep,...,RDM,RWB,LB,LCB,CB,RCB,RB,Work RAttack,Work RDefence,cluster
28,198710,J. Rodríguez,LAM,26,155.745200,78.035024,Left,3.0,Colombia,4.0,...,68,69,65,58,58,58,65,Medium,Medium,2
38,167664,G. Higuaín,LS,30,185.918927,88.923632,Right,4.0,Argentina,4.0,...,53,55,51,48,48,48,51,High,Medium,2
75,135507,Fernandinho,CDM,33,155.440415,67.146416,Right,4.0,Brazil,3.0,...,83,79,79,81,81,81,79,Medium,High,2
76,41,Iniesta,LF,34,173.727522,68.053800,Right,4.0,Spain,4.0,...,73,71,68,63,63,63,68,High,Medium,2
91,187961,Paulinho,LDM,29,182.871076,71.229644,Right,3.0,Brazil,3.0,...,81,78,78,80,80,80,78,High,High,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,236496,M. Guendouzi,CDM,19,185.918927,68.053800,Right,3.0,France,1.0,...,69,67,66,66,66,66,66,Medium,High,2
4654,239845,K. Galanopoulos,RDM,20,176.775373,72.137028,Right,3.0,Greece,1.0,...,69,70,69,66,66,66,69,Medium,High,2
4719,225782,A. Maitland-Niles,CM,20,155.440415,71.229644,Right,3.0,England,1.0,...,67,68,66,61,61,61,66,Medium,Medium,2
4763,225539,D. Solanke,ST,20,188.966778,79.849792,Right,3.0,England,1.0,...,46,48,45,39,39,39,45,High,Medium,2
5334,244389,Fernando,LM,19,179.823225,72.137028,Right,3.0,Brazil,1.0,...,44,51,48,36,36,36,48,High,Medium,2

In [14]:
fifamach[fifamach.cluster==0].Club.value_counts()

No Club              241
Frosinone             31
Al Qadisiyah          30
AS Nancy Lorraine     30
Cerezo Osaka          30
                    ...
Milan                  6
Roma                   5
SL Benfica             4
Juventus               3
Napoli                 2
Name: Club, Length: 652, dtype: int64

In [15]:
fifamach.groupby(['cluster'])['Value(€M)'].mean()

cluster
0    1.044119e+06
1    2.690893e+07
2    8.936353e+06
3    6.591000e+07
Name: Value(€M), dtype: float64