In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

In [2]:
club = pd.read_csv('recommend.csv')
club.head()

,ID,Name,Position,Age,Height(cm),Weight(kgs),Preferred Foot,Weak Foot,Nationality,Continent,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,RF,31,173.727522,72.137028,Left,4.0,Argentina,America,...,64,61,61,61,64,59,47,47,47,59
1,20801,Cristiano Ronaldo,ST,33,188.966778,83.025636,Right,4.0,Portugal,Europe,...,65,61,61,61,65,61,53,53,53,61
2,190871,Neymar Jr,LW,26,179.823225,68.053800,Right,5.0,Brazil,America,...,65,60,60,60,65,60,47,47,47,60
3,193080,De Gea,GK,27,195.062481,76.220256,Right,3.0,Spain,Europe,...,50,50,50,50,50,50,50,50,50,50
4,192985,K. De Bruyne,RCM,27,155.745200,69.868568,Right,5.0,Belgium,Europe,...,77,77,77,77,77,73,66,66,66,73

In [3]:
recom_club = club.copy()

In [4]:
recom_club = club.drop(columns=['ID','Name','Position','Preferred Foot', 'Nationality','Continent',
                        'Joined', 'Evolution','Contract_Expiry','Work Rate','Work RAttack',  
                     'Work RDefense','year_joined', 'month_joined','day_joined','Age', 'Height(cm)', 
                                'Weight(kgs)', 'Weak Foot', 'Inter_Rep', 'Jersey', 'Value(€M)', 'Wage(€K)',
       'Release_Clause(€M)'])
recom_club = recom_club.set_index('Club')

In [5]:
recom_club.head()

,Overall,Potential,Difference,Special,SkillMoves,ShortPass,LongPass,ShotPower,LongShots,Penalties,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Club,,,,,,,,,,,,,,,,,,,,,
FC Barcelona,94,94,0,2202,4.0,90.0,87.0,85.0,94.0,75.0,...,64,61,61,61,64,59,47,47,47,59
Juventus,94,94,0,2228,5.0,81.0,77.0,95.0,93.0,85.0,...,65,61,61,61,65,61,53,53,53,61
Paris Saint-Germain,92,93,1,2143,5.0,84.0,78.0,80.0,82.0,81.0,...,65,60,60,60,65,60,47,47,47,60
Manchester United,91,93,2,1471,1.0,50.0,51.0,31.0,12.0,40.0,...,50,50,50,50,50,50,50,50,50,50
Manchester City,91,92,1,2281,4.0,92.0,91.0,91.0,91.0,79.0,...,77,77,77,77,77,73,66,66,66,73

In [6]:
recom_club.index

Index(['FC Barcelona', 'Juventus', 'Paris Saint-Germain', 'Manchester United',
       'Manchester City', 'Chelsea', 'Real Madrid', 'FC Barcelona',
       'Real Madrid', 'Atlético Madrid',
       ...
       'Cork City', 'Burton Albion', 'Vancouver Whitecaps FC', 'Swindon Town',
       'Waterford FC', 'Crewe Alexandra', 'Trelleborgs FF', 'Cambridge United',
       'Tranmere Rovers', 'Tranmere Rovers'],
      dtype='object', name='Club', length=18207)

In [7]:
distancias=squareform(pdist(recom_club.T, 'euclidean'))
distancias

array([[   0.        , 1001.01848135, 8381.38842913, ..., 2054.94014511,
        2054.94014511, 1754.83873903],
       [1001.01848135,    0.        , 8986.29144865, ..., 2698.88439915,
        2698.88439915, 2416.58126286],
       [8381.38842913, 8986.29144865,    0.        , ..., 6988.47873289,
        6988.47873289, 7067.59329617],
       ...,
       [2054.94014511, 2698.88439915, 6988.47873289, ...,    0.        ,
           0.        ,  613.84851552],
       [2054.94014511, 2698.88439915, 6988.47873289, ...,    0.        ,
           0.        ,  613.84851552],
       [1754.83873903, 2416.58126286, 7067.59329617, ...,  613.84851552,
         613.84851552,    0.        ]])

In [8]:
similitud=pd.DataFrame(1/(1+distancias), index=recom_club.columns, columns=recom_club.columns)
similitud.head()

,Overall,Potential,Difference,Special,SkillMoves,ShortPass,LongPass,ShotPower,LongShots,Penalties,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Overall,1.000000,0.000998,0.000119,0.000005,0.000115,0.000501,0.000389,0.000393,0.000286,0.000321,...,0.000615,0.000570,0.000570,0.000570,0.000615,0.000570,0.000486,0.000486,0.000486,0.000570
Potential,0.000998,1.000000,0.000111,0.000005,0.000107,0.000398,0.000314,0.000324,0.000243,0.000269,...,0.000434,0.000410,0.000410,0.000410,0.000434,0.000414,0.000370,0.000370,0.000370,0.000414
Difference,0.000119,0.000111,1.000000,0.000005,0.001196,0.000132,0.000146,0.000137,0.000157,0.000158,...,0.000140,0.000141,0.000141,0.000141,0.000140,0.000141,0.000143,0.000143,0.000143,0.000141
Special,0.000005,0.000005,0.000005,1.000000,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,...,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005
SkillMoves,0.000115,0.000107,0.001196,0.000005,1.000000,0.000128,0.000141,0.000133,0.000153,0.000152,...,0.000135,0.000136,0.000136,0.000136,0.000135,0.000136,0.000138,0.000138,0.000138,0.000136

In [9]:
tom = {'Age': 24,'Height(cm)':173,'Weight(kgs)': 72,'Weak Foot': 5,'Inter_Rep': 5,
       'Jersey': 8, 'Overall': 75, 'Potential': 94,'Difference': 25, 'Value(€M)': 200, 'Wage(€K)': 500,
       'Release_Clause(€M)': 450, 'Special': 2202, 'SkillMoves': 3, 'ShortPass': 88, 'LongPass': 56,
       'ShotPower': 45, 'LongShots': 67, 'Penalties': 75, 'Agility': 65, 'Acceleration': 39,
       'SprintSpeed': 67,'Stamina': 58, 'Strength': 73, 'Reactions': 39, 'Dribbling': 64,
       'BallControl': 84, 'Aggression': 15, 'Interceptions': 47, 'Positioning': 89, 'Vision': 88,
       'Balance': 65, 'Composure': 72, 'Crossing': 64, 'Finishing': 69, 'Jumping': 41,
       'HeadAccuracy': 67, 'Marking': 70, 'StandingTackle': 26, 'SlidingTackle': 34, 'GKDiving': 31,
       'Volleys': 45, 'Curve': 31, 'FKAccuracy': 75, 'GKHandling': 34, 'GKKicking': 29,'GKPositioning': 10,
       'GKReflexes': 78, 'LS':65, 'ST':57, 'RS':87,'LW':58, 'LF':68,'CF':78, 'RF':88,'RW':58, 'LAM':78, 
       'CAM':89, 'RAM': 70 ,'LM':72, 'LCM':68, 'CM':77, 'RCM':57, 'RM':69, 'LWB':57, 'LDM':86, 'CDM':56, 
      'RDM':66, 'RWB':87, 'LB':56,'LCB':65, 'CB':75, 'RCB':65, 'RB':76}

In [10]:
#recom_club['tom'] = pd.Series(tom)
#distance = squareform(pdist(recom_club.T, 'euclidean'))
#similarity = pd.DataFrame(1/(1+distance), index=recom_club.columns, columns=recom_club.columns)
#similarity

In [11]:
attributes = recom_club.iloc[:, 0:74]
attributes.head()

,Overall,Potential,Difference,Special,SkillMoves,ShortPass,LongPass,ShotPower,LongShots,Penalties,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
Club,,,,,,,,,,,,,,,,,,,,,
FC Barcelona,94,94,0,2202,4.0,90.0,87.0,85.0,94.0,75.0,...,64,61,61,61,64,59,47,47,47,59
Juventus,94,94,0,2228,5.0,81.0,77.0,95.0,93.0,85.0,...,65,61,61,61,65,61,53,53,53,61
Paris Saint-Germain,92,93,1,2143,5.0,84.0,78.0,80.0,82.0,81.0,...,65,60,60,60,65,60,47,47,47,60
Manchester United,91,93,2,1471,1.0,50.0,51.0,31.0,12.0,40.0,...,50,50,50,50,50,50,50,50,50,50
Manchester City,91,92,1,2281,4.0,92.0,91.0,91.0,91.0,79.0,...,77,77,77,77,77,73,66,66,66,73

In [12]:
attributes = pd.concat([attributes], axis=1)
df = attributes
print(attributes.columns)

Index(['Overall', 'Potential', 'Difference', 'Special', 'SkillMoves',
       'ShortPass', 'LongPass', 'ShotPower', 'LongShots', 'Penalties',
       'Agility', 'Acceleration', 'SprintSpeed', 'Stamina', 'Strength',
       'Reactions', 'Dribbling', 'BallControl', 'Aggression', 'Interceptions',
       'Positioning', 'Vision', 'Balance', 'Composure', 'Crossing',
       'Finishing', 'Jumping', 'HeadAccuracy', 'Marking', 'StandingTackle',
       'SlidingTackle', 'GKDiving', 'Volleys', 'Curve', 'FKAccuracy',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB'],
      dtype='object')

In [13]:
scaled = StandardScaler()
X = scaled.fit_transform(attributes)

In [14]:
recommendations = NearestNeighbors(n_neighbors=6,algorithm='ball_tree')
recommendations.fit(X)

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                 radius=1.0)

In [15]:
player_index = recommendations.kneighbors(X)[1]

In [16]:
player_index

array([[    0,     2,     5,    15,     1,    23],
       [    1,    25,    10,    17,    23,    15],
       [    2,     5,     0,    15,    50,    25],
       ...,
       [18204, 18063, 18177, 18042, 18016, 17971],
       [18205, 17916, 18119, 18130, 18176, 18039],
       [18206, 18192, 18195, 18202, 18164, 18182]])

In [21]:
def get_index(x):
    return club[club['Name']==x].index.tolist()[0]

def recommend_me(player):
    print("5 Players similar to {} are: ".format(player))
    index=  get_index(player)
    for i in player_index[index][1:]:
        print(club.iloc[i]['Name'])

In [20]:
recommend_me('L. Messi')

5 Players similar to L. Messi are :
Neymar Jr
E. Hazard
P. Dybala
Cristiano Ronaldo
S. Agüero